* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --heading-background-color: #f06;
  --heading-text-color: #333;
  --padding: 1rem;
  --border: 1px solid rgba(0,0,0,0.1);
}



main {
  max-width: 840px;
}
nav{
  background-color: rgb(115, 183, 238);
  padding: 10px;
}

nav a {
  color: rgb(0, 0, 0);
  padding: 10px;
  display: block;
}


h1 {
  color: steelblue;
  padding: 10px;
}


main img {
  float: right;
  width: 140px;
  height: auto;
  border: 1px solid rgb(212, 220, 226);
  box-shadow: 0 0 30px gray;
  margin: 0 0 1rem 1rem;
}

p { padding: 10px;
}

aside{
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2); /*  */
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
  position: relative;
}

aside img {
  width: 240px;
  height: auto;
}

aside h2 {
  position: absolute;
  left: 120px;
}


footer{
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid gray;
  padding: 1rem;
  background-color: #eee;
  color: #000;
}

.indent {
  padding-left: 2rem;

}


aside {
  width: 20em;
  text-align: center;
}